
<div class="wrapper"  >
  <div class="content shadow-sm" >
     


    <div class="container-fluid main-container pt-0" id="main-container">
      <div class="row">
          <div class="position-relative w-100 h-320">
              <div class="background">
                  <img src="../assets/img/background-part.png" alt="">
              </div>
          </div>
      </div>
  
      <div class="row">
          <div class="container">
              <div class="row top-100">
                  <div class="col-12 col-md-4 col-lg-3 pb-4">
                      <div class="row">
                          <div class="col-12 text-center">
                              <figure class="avatar avatar-180 rounded-circle shadow  mx-auto">
                                  
                                  <img src="{{data.file}}" alt="profil">
 
                              </figure>
                          </div>
                      </div>
                  </div>
                  <div class="col mt-3">
                      <h3 class="text-white">{{data.FullName}}</h3>
                      <p class="text-mute text-white">Working as: {{data.FullName}} as {{data.UserName}}
                      </p>
                     
                  </div>
                 
              </div>
          </div>
      </div>
      <div class="row">
          <div class="container">
              <div class="row">
                  
  
                  <div class="col">
                      <div class="card mb-4 shadow-sm border-0">
                          <div class="card-body">
                              <div class="page-subtitle">Personal Details</div>
                              <div class="row">
                                  
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="form-group">
                                          <label>Email Address</label>
                                          <p>{{data.Email}} </p>
                                      </div>
                                  </div>
                              </div>
                              <h6 class="page-subtitle"><span>About</span></h6>
  
                              <p class="text-mute">you loaded
                                to make the necessary configurations through the administration site to manage users,
                                roles and permissions required.</p>
  
                              <p><i class="material-icons vm mr-2 text-template-primary-light">card_travel</i> Working at: <span class="text-mute-high">Admin <i> IYA Soft</i></span></p>
                              <p><i class="material-icons vm mr-2 text-template-primary-light">location_on</i> Lives in: <span class="text-mute-high">Tunis, Tunisia</span></p>
  
  
                              
                        
  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
  </div>



      <!-- Main container starts -->
      <div class="container main-container" id="main-container" >
          <div class="jumbotron px-4 py-5 text-white rounded position-relative overflow-hidden mb-4 template-bg" >
             
 





  