
<div class="wrapper"  >
  <div class="content shadow-sm" >
     

      <div class="container main-container" id="main-container" >
          <div class="jumbotron px-4 py-5 text-white rounded position-relative overflow-hidden mb-4 template-bg" >
             
 
<br>
<br>
<br>
<form   (ngSubmit)="processForm()">
  <table class="table table-borderless">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">client Id</label>
      <input type="text" [(ngModel)]="client.clientId" name="clientId" class="form-control" id="clientId" placeholder="clientId" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">client Name</label>
      <input type="text"  [(ngModel)]="client.clientName" name="clientName" class="form-control" id="validationCustom02" placeholder="clientName" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>




    <div class="col-md-4 mb-3">
      <label for="validationCustom02">protocol Type</label>
      <input type="text" [(ngModel)]="client.protocolType" name="protocolType"class="form-control" id="validationCustom02" placeholder="protocolType" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  
  <div class="form-row">
  <div  >
      <label class="mr-sm-2 col-md-4" for="inlineFormCustomSelect">requireConsent</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="True">True</option>
        <option value="false">false</option>
      
      </select>
    </div>

    <div>
      <label class="mr-sm-2 col-md-4 " for="inlineFormCustomSelect">allowRememberConsent</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="True">True</option>
        <option value="false">false</option>
      
      </select>
    </div>
    
    <br>

    <div>
      <label class="mr-sm-2 col-md-4" for="inlineFormCustomSelect">alwaysIncludeUserClaimsInIdToken</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">

        
        <option selected>Choose...</option>
        <option value="True">True</option>
        <option value="false">false</option>
      
      </select>
    </div>
    
    <div  >
      <label class="mr-sm-2 col-md-4" for="inlineFormCustomSelect">requirePkce</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="True">True</option>
        <option value="false">false</option>
      
      </select>
    </div>

   <br>
  <div>
      <label class="mr-sm-2 col-md-4" for="inlineFormCustomSelect">allowOfflineAccess</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="True">True</option>
        <option value="false">false</option>
      
      </select>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationCustom05">access Token Type</label>
      <input type="number" [(ngModel)]="client.accessTokenType" name="accessTokenType" class="form-control" id="validationCustom05" placeholder="accessTokenType" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationCustom05">client Claims Prefix</label>
      <input type="text" [(ngModel)]="client.clientClaimsPrefix" name="clientClaimsPrefix" class="form-control" id="validationCustom05" placeholder="clientClaimsPrefix" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
 
  </table>

  
  <input type="submit" value="save" class="btn btn-success  ">


</form>
   
</div>
        


<br>

</div>
<!-- Main container ends -->

</div>
<footer class="footer">
<div class="container-fluid">
<div class="row">
    <div class="col-12 col-md text-center text-md-left align-self-center">
        <p>All rights reserved by <a href="#">Maxartkiller</a></p>
    </div>
    <div class="col-12 col-md-auto text-center text-md-right">
        <ul class="nav justify-content-center justify-md-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Terms of use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactus.html">Contact us</a>
            </li>
        </ul>
    </div>
</div>
</div>
</footer>

</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>