<head>
    <meta charset="utf-8" />
    <title>AdminUX-PRO | Admin Dashboard HTML Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Worlds Best Admin UX Dashbaoard PRO version for bootstrap template, Select, Calandar, Report, Charts, Tables etc." name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="../../assets/img/logoicon.png">

    <!-- g fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
    <!-- g fonts style ends -->

    <!-- Vendor or 3rd party style -->

    <!-- material icons -->
    <link href="../../assets/vendor/material-icons/material-icons.css" rel="stylesheet">
    <!-- flags icons -->
    <link href="../../assets/vendor/flags/css/flag-icon.min.css" rel="stylesheet">
    <!-- daterange picker -->
    <link href="../../assets/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet">

    <!-- Vendor or 3rd party style ends -->

    <!-- Customized template style mandatory -->
    <link href="../../assets/css/style-darkblue-dark.css" rel="stylesheet" id="stylelink">
    <!-- Customized template style ends -->
</head>
<body class="h-100 no-sidemenu">
    


    <div class="wrapper">
        <div class="content shadow-sm position-relative">
            <header class="header">
                <!-- Fixed navbar -->
                <nav class="container-fluid">
                    <div class="row">
                        <div class="col align-self-center">
                            <a href="#" class="logo text-white">
                                <img src="https://maxartkiller.com/website/AdminuxPRO/HTML/assets/img/logoicon.svg" alt="" class="logo-icon">
                                <div class="logo-text">
                                    <h5 class="fs22 mb-0">IDENTITY <sup class="badge badge-danger">PRO</sup></h5>
                                    <p class="text-uppercase fs11">identity server</p>
                                </div>
                            </a>
                        </div>
                        <div class="col text-right align-self-center">
                            <a [routerLink]=""(click)="login()"  class="btn btn-sm btn-primary text-uppercase">Login</a>
                        
                              
                            </div>
                    </div>
                </nav>
            </header>
            <div class="background opac" >
                <img src="../../assets/img/happy-faces.jpg" alt="" >
            </div>

            <!-- Main container starts -->
            <div class="container main-container" id="main-container">
                <div class="row login-row-height">
                    <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
                        <div class="card border-0 shadow-lg blur">
                          
  <form class="form">
    <div class="card border-0 shadow-lg blur">
        <div class="card-body py-5">
            <h5 class="font-weight-light mb-1 text-mute-high">We are AdminuxPRO,</h5>
            <h3 class="font-weight-normal mb-4">Sign Up with us</h3>
            <div class="card  mb-2 overflow-hidden">
                <div class="card-body p-0">
                  
                  <label for="inputEmail" class="sr-only">UserName</label>
                    <input type="text" [(ngModel)]="user.UserName" name="UserName" class="form-control rounded-0 border-0" placeholder="UserName" required  autofocus="">

                    
                    <hr class="my-0">

                    <label for="inputEmail" class="sr-only">FullName</label>
                     <input type="text" [(ngModel)]="user.FullName" name="FullName" class="form-control rounded-0 border-0" placeholder="FullName" required autofocus="">

                    
                    <hr class="my-0">


                    <label for="inputEmail" class="sr-only">UserName</label>
                    
                    <input type="email"  id="inputEmail" [(ngModel)]="user.Email" name="Email" class="form-control rounded-0 border-0" placeholder="Email address" required="" autofocus="">

                    
                    
                    <hr class="my-0">

                    
                    <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" [(ngModel)]="user.Password" name="Password" class="form-control rounded-0 border-0" placeholder="Password" required="">

                   
                 </div>
            </div>
          

            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>            <div class="text-left mb-4">


                <div class="my-3 row">
                    <div class="col-12 py-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                            <label class="custom-control-label" for="customCheck1">Agree to the terms and condition</label>
                        </div>
                    </div>
    
                </div>
                <button type="button" (click)="registerUser()" class=" btn btn-primary btn-block">Sign Up<i class="material-icons md-18">arrow_forward</i></button>

            
              </div>

            <div class="">
                <p class="text-mute">
                    Already have account?<br>
                    Please <a [routerLink]=""(click)="login()"  class="text-template-primary-light">Sign In</a> here.
                </p>

            </div>
            

        </div>
    </div>
  </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main container ends -->
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md text-center text-md-left align-self-center">
                        <p>All rights reserved by <a href="#">Maxartkiller</a></p>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-right">
                        <ul class="nav justify-content-center justify-md-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Terms of use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contactus.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- wrapper ends -->


    <!-- Global js mandatory -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script><script src="../../assets/vendor/cookie/jquery.cookie.js"></script>
    <!-- Global js ends -->

    <!-- Vendor or 3rd party js -->

    <!-- date range picker -->
    <script src="../../assets/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="../../assets/vendor/daterangepicker-master/daterangepicker.js"></script>
    <!-- Vendor or 3rd party js ends -->

    <!-- Customized template js mandatory -->
    <script src="../../assets/js/main.js"></script>
    <!-- Customized template js ends -->

    <!-- theme picker -->
    <script src="../../assets/js/style-picker.js"></script>
    <!-- theme picker ends -->

    <!-- Customized page level js -->
    <script>
        'use strict'
        $(document).ready(function() {

        });

    </script>
    <!-- Customized page level js ends -->
</body>

<!-- Body ends -->
